@inject IHttpContextAccessor HttpContextAccessor


@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    //var account = Context.Request.Path.Value.Contains("Identity");
    var account = ViewContext.RouteData.Values["area"]?.ToString() == "Identity";
}

<div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <span>GiftShop</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item @(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item @(currentController == "Products" ? "active" : "")">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">Shop</a>
                    </li>
                    <li class="nav-item @(currentController == "WhyUs" ? "active" : "")">
                        <a class="nav-link" asp-controller="WhyUs" asp-action="Index">Why Us</a>
                    </li>
                    <li class="nav-item @(currentController == "Feedbacks" ? "active" : "")">
                        <a class="nav-link" asp-controller="Feedbacks" asp-action="Index">Reviews</a>
                    </li>
                    <li class="nav-item @(currentController == "Contacts" ? "active" : "")">
                        <a class="nav-link" asp-controller="Contacts" asp-action="Index">Contact Us</a>
                    </li>
                </ul>

                <div class="user_option">
                    <a asp-controller="Orders" asp-action="Create" class="basket-container"
                       style="position: relative; display: inline-block; padding: 8px; margin: 0 10px; text-decoration: none;">
                        <div class="basket-icon" style="position: relative;">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>

                            <span class="item-count"
                                  style="position: absolute; bottom: -6px; right: @(!account ? "-10px" : "-0.2rem") !important; background-color: #ff4757; color: white; border-radius: 50%; width: 15px; height: 15px; display: flex; align-items: center; justify-content: center; font-size: 12px; font-weight: bold; transition: all 0.3s ease;"
                                  id="basket-span"></span>
                        </div>
                    </a>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
        <script>
            const basket_span = document.getElementById('basket-span');
            const data = sessionStorage.getItem('basket');
            const basket = JSON.parse(data || '[]');
            if (basket.length > 0) {
                basket_span.innerHTML = basket.map(x => x.quantity).reduce((a, b) => a + b);
            }
            basket_span.style.display = basket.length > 0 ? 'flex' : 'none';
        </script>
    </header>
</div>
